$body-background-color: #040714;
$button-background-color: #6421ff;

$primary-text-color: silver;
$light-text-color: #f9f9f9;

@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  line-height: $fontSize + 10px;
  color: $primary-text-color;
}

@mixin title($fontSize: 40px) {
  @include text($fontSize);
  color: $light-text-color;
}