@use './vars';
@use './hero';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: vars.$body-background-color;
}

.text {
  @include vars.text;
}

.text--small {
  @include vars.text(12px);
}

.text--big {
  @include vars.text(18px);
}

.title {
  @include vars.title;
}

.title--small {
  @include vars.title(28px);
}

.title--big {
  @include vars.title(44px);
}

.link-text {
  @include vars.text(18px);
  color: vars.$light-text-color;
  text-decoration: underline;
}